@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --text-color: #142529;
  --background-color: #89a7df;
  --font-body: 'Roboto Condensed', sans-serif;
  --font-titulo: 'Roboto Condensed', sans-serif;
}


body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-body);
  font-size: 16px;
  line-height: 1.6;
}
li{
    margin-top: 20px;
  font-size: 20px;
}
h3 {
  font-family: var(--font-titulo);
  font-size: 28px;
  margin-top: 25px;
}

p {
  margin-top: 20px;
  font-size: 20px;
}


img {
    max-width: 90%;
}
.texto-claro p {
  color: #000000;
}


